@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Ziki's Demo App</a>.</p>
    K1 = @ViewBag.K1 <br />
    K2 = @ViewBag.K2 <br />
    Name = @ViewBag.Name
</div>
